*{
	margin: 0;
	padding: 0;
	
}
.navbar{

border: none;
background-color: yellow (180, 87, 87, 0);
color: yellow;
}
body{
	background-color: yellow;
	color:White;
}
.glyphicon{
	font-size: 30px;
	color:blue; 
}

.center{
	width: 90%;
	background-color:blue (189, 114, 114);

}
.container
{
	background-color: blue;
}
.text-center{
	font-size: 30px;
}

h2{
	text-align: center;
}
#myNavbar ul li a {
	color: yellow;
}
.navbar-brand{
font-size: 30px;	
}